.card{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 350px;
  background-color: blue;
  margin: 50px;
}

#green{
  background-color: green;
}

#blue{
  background-color: blue;

}

#red{
  background-color: red;
}

.buttuns{
  display: flex;
  align-items: center;
  justify-content: center;
   margin-bottom: 10px;
}

.btn{
  width: 15%;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: black;
  cursor: pointer;
  margin: 10px;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}


